@font-face {
   font-family: "Netflix";
   src: url("../assets/fonts/NetflixSans-Regular.otf");
}
@font-face {
   font-family: "Netflix-bold";
   src: url("../assets/fonts/NetflixSans-Bold.otf");
}
@font-face {
   font-family: "Netflix-medium";
   src: url("../assets/fonts/NetflixSans-Medium.otf");
}
@font-face {
   font-family: "Netflix-light";
   src: url("../assets/fonts/NetflixSans-Light.otf");
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}

header {
    background-image: url("../assets/images/backgrounds/PK-en-20251013-TRIFECTA-perspective_ce048a12-86cc-490f-ac7a-55d7fd620054_large.jpg");
    background-position: top center;
    background-size: max(1200px, 100vw);
    background-repeat: no-repeat;
    height: 110vh;
    position: relative;
    z-index: -2;
}

.blk-box {
    height: inherit;
    width: 100%;
    position: absolute;
    background: linear-gradient(rgba(0,0,0,0.93) 1.5%, rgba(0, 0, 0, 0.55) , rgba(0,0,0,0.8) 60%);
}

.header {
    height: 12vh;
    display: flex;
    justify-content: space-between;
    margin: 0 9.25rem;
    align-items: center;
    position: relative;
    z-index: 10;
}

.header img {
    width: 148px;
}

.header button {
    background-color: red;
    color: white;
    width: 76.91px;
    height: 32px;
    border: none;
    border-radius: 4px;
    font-family: "Netflix";
    font-weight: 500;
    font-size: 14px;
}

.hero {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 4;
    width: 40vw;
    height: 40vh;
    margin: 15% auto;
    color: white;
    text-align: center;
    gap: 6%;
}

.hero h1 {
    font-size: 56px;
    line-height: 70px;
    font-weight: 900;
    font-family: "Netflix-medium";
}

.hero h2 {
    font-family: "Netflix";
    font-size: 20px;
}

.hero p {
    font-family: "Netflix-light";
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    position: relative;
    top: 3px;
}

.hero input {
    background-color: rgba(0,0,0,0.8);
    width: 366.75px;
    height: 56px;
    font-family: "Netflix";
    box-sizing: border-box;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    border: 0.3px solid #5e5f5f;
    border-radius: 3px;
    padding: 10px;
}

.hero button {
    width: 213.25px;
    height: 56px;
    font-family: "Netflix-medium";
    background-color: rgb(229,9,20);
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 18px;
    line-height: 18px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.hero div {
    display: flex;
    justify-content: center;
    gap: 8px;
}

.trending-list-container {
    height: 38vh;
    position: relative;
    top: 10%;
    margin-top: 1%;
}

.list-container {
    display: flex;
    margin-top: 2%;
    justify-content: start;
    margin-left: 10.5%;
    margin-right: 10.5%;
    overflow-x: scroll;
    overflow-y: hidden;
    position: relative;
    left: -.8%;
}

ul.trending-list {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 45px;
    margin-left: 1.2%;
}

.list-container::-webkit-scrollbar {
    display: none;
}

ul.trending-list li {
    height: 252px;
    width: 180px;
    background-color: rgb(50, 50, 50);
    border-radius: 9px;
    border: none;
    display: grid;
    grid-template-columns: 5% 95%;
}

.trending-list li span {
    font-family: "Netflix-bold";
    font-size: 100px;
    -webkit-text-stroke-color: white;
    -webkit-text-stroke-width: 1.5px;
    position: relative;
    top: 125px;
    left: -23px;
    z-index: 5;
    text-shadow: 0 0 1.5rem rgba(0,0,0,0.5);
}

.trending-list li img {
    width: 180px;
    border-radius: 8px;
    border: none;
    align-self: flex-end;
    justify-self: flex-end;
    grid-area: 1 / 2;
}

.promo-section {
    height: 42vh;
    color: white;
    margin-top: 4vw;
}

.main-section {
    display: flex;
    flex-direction: column;
    margin: 0 9%;
}

.main-section h2 {
    font-family: "Netflix";
    font-size: 24px;
}

.promo-boxes {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 17px;
    justify-items: center;
    align-items: center;
    margin-top: 1vw;
}

.promo-boxes .box {
    width: 326.25px;
    height: 268px;
    border: none;
    background: linear-gradient(149deg, #192247 0%, #210e17 99.08%);
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    justify-self: center;
    align-self: center;
    border-radius: 10px;
    padding: 18px;
    gap: 16px;
}

.promo-boxes .box p {
    font-family: "Netflix";
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.7);
}

.faq-section {
    color: white;
    margin: 0 9%;
    margin-top: 4vw;
}

.main-faq {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.main-faq h2 {
    font-family: "Netflix";
    font-size: 24px;
}

.main-faq .faq {
    font-family: "Netflix";
    font-size: 24px;
    background-color: #2d2d2d;
    padding: 25px;
}

.faq {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.faq span:last-child {
    font-family: "Netflix";
}

.email {
    display: flex;
    margin: 0 9%;
    margin-top: 4%;
    flex-direction: column;
    color: white;
    font-family: "Neflix";
}

.main-email {
    display: flex;
    flex-direction: column;
    gap: 17px;
}

.main-email h3 {
    text-align: center;
    font-family: "Netflix-light";
    font-size: 1rem;
    font-weight: 100;
    letter-spacing: 1px;
}

.main-email div {
    display: flex;
    justify-content: center;
}

.main-email div input {
    color: rgba(255,255,255,0.7);
    border: 0.5px solid rgba(128, 128, 128, 0.7);
    border-radius: 4px;
    background-color: rgba(22, 22, 22, 0.7);
    padding: 15px;
    width: 38vw;
    font-size: 1rem;
    font-family: "Netflix";
    box-sizing: border-box;
}

.main-email div input::placeholder {
    color: rgba(255,255,255,0.7);
    font-family: "Netflix";
    font-size: 1rem;
}

.main-email div button {
    width: 150px;
    background-color: rgb(229,9,20);
    color: white;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: "Netflix-medium";
    font-size: 1.5rem;
    margin-left: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    padding: 15px 22px;
}

.main-email div button span {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
}

.footer {
    margin: 0 9%;
    margin-top: 5%;
    font-family: "Netflix";
    color: white;
}

.main-footer {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.contact a {
    color: rgba(255,255,255,0.7);
    text-decoration-color: white;
}

.footer-grid ul {
    display: grid;
    margin-top: 2%;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 15px;
    list-style-type: none;
}

.footer-grid ul li a {
    color: rgba(255,255,255,0.7);
    font-family: "Netflix";
    font-weight: 100;
}

.main-footer .lang {
    margin-top: 2%;
}

.main-footer .lang select {
    margin-top: 2%;
    border: 0.5px solid rgba(128,128,128,0.7);
    border-radius: 4px;
    background-color: transparent;
    color: white;
    display: flex;
    padding: 5px 8px;
    font-family: "Netflix";
    font-weight: 100;
}

.Pakistan {
    margin-top: 1.5%;
    font-family: "Netflix";
    font-weight: 100;
    color: rgba(255,255,255,0.7);
}

.captcha {
    margin-top: 1.5%;
    font-family: "Netflix";
    font-weight: 100;
    color: rgba(128,128,128,0.7);
    margin-bottom: 15vh;
}

.captcha p span a {
    font-family: "Netflix";
    font-weight: 100;
    color: rgb(6, 105, 255);
}

.curve-container {
    height: 6.25rem;
    width: 100%;
    box-sizing: border-box;
    position: absolute;
    top: 100vh;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    margin: auto;
    display: flex;
}

.rainbow-container {
    height: 100%;
    width: 130%;
    background: linear-gradient(to right, rgba(33, 13, 22, 1) 16%, rgba(184, 40, 105, 1), rgba(229, 9, 20, 1), rgba(184, 40, 105, 1), rgba(33, 13, 22, 1) 84%);
    border-top-left-radius: 50% 100%;
    border-top-right-radius: 50% 100%;
    position: relative;
    border-top: .25rem solid transparent;
    margin-left: -15%;
    margin-right: -15%;
}

.rainbow-container::before {
    content: "";
    background: radial-gradient(50% 500% at 50% -420%, rgba(64, 97, 231, 0.4) 80%, rgba(0, 0, 0, 0.1) 100%), black;
    border-radius: inherit;
    position: absolute;
    inset: 0;
}

.trending {
    position: absolute;
    color: white;
    align-self: flex-start;
    bottom: 3px;
    left: 145px;
    font-family: "Netflix-light";
    font-size: 1rem;
    letter-spacing: 1px;
    display: block;
}